.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1920px;
	height: 12040px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#logo {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.431));
	position: absolute;
	width: 755px;
	height: 505px;
	left: 108px;
	top: 362px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 846px;
	height: 204px;
	left: 981px;
	top: 87px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 864px;
	height: 222px;
	left: 0px;
	top: 0px;
}
#Case_Study_UXUI_Design_of_a__H {
	left: 49px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 750px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#Ali_Abbas_Zaidi_-_40024647_Jul {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.49));
	left: 1390px;
	top: 544px;
	position: absolute;
	overflow: visible;
	width: 438px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(15,15,15,1);
}
#Group_3 {
	position: absolute;
	width: 1515px;
	height: 298px;
	left: 203px;
	top: 1118px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
}
.Rectangle_3 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 316px;
	left: 0px;
	top: 0px;
}
#The_evolution_of_communication {
	left: 48px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 131px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Intro {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 687.5px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Understanding_the_problem {
	left: 568.5px;
	top: 1605px;
	position: absolute;
	overflow: visible;
	width: 785px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#Group_4 {
	position: absolute;
	width: 1515px;
	height: 548px;
	left: 203px;
	top: 1475px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 566px;
	left: 0px;
	top: 0px;
}
#However_with_or_without__the_p {
	left: 48px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 300px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Understanding_the_problem_t {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 365.5px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 785px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_5 {
	position: absolute;
	width: 1515px;
	height: 362px;
	left: 203px;
	top: 2096px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 380px;
	left: 0px;
	top: 0px;
}
#With_our_super_app_users_will_ {
	left: 48px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 166px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Our_Solution {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 578px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 360px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_6 {
	position: absolute;
	width: 1515px;
	height: 283px;
	left: 203px;
	top: 2598px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(255,255,255,1);
}
.Rectangle_6 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 301px;
	left: 0px;
	top: 0px;
}
#The_first_step_in_the_design_p {
	left: 48px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 100px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Research {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 632px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_7 {
	position: absolute;
	width: 1515px;
	height: 283px;
	left: 203px;
	top: 3051px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(255,255,255,1);
}
.Rectangle_7 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 301px;
	left: 0px;
	top: 0px;
}
#Now_that_we_have_a_better_unde {
	left: 48px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Surveys {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 648px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 220px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Image_2 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 606px;
	height: 308px;
	left: 657px;
	top: 4286px;
	overflow: visible;
}
#Image_3 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 661px;
	height: 314px;
	left: 630px;
	top: 3374px;
	overflow: visible;
}
#Image_1 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 512px;
	height: 232px;
	left: 704px;
	top: 3893px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 1515px;
	height: 149px;
	left: 203px;
	top: 3716px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
}
.Rectangle_8 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 140px;
	left: 0px;
	top: 0px;
}
#This_section_shows_the_most_co {
	left: 48px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Personas1 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 529.5px;
	height: 372px;
	left: 66.727px;
	top: 5367px;
	overflow: visible;
}
#Personas2 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 526.64px;
	height: 361px;
	left: 696.477px;
	top: 5372.5px;
	overflow: visible;
}
#Personas3 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 529.907px;
	height: 375px;
	left: 1323.366px;
	top: 5367px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 846px;
	height: 204px;
	left: 981px;
	top: 87px;
	overflow: visible;
}
#Rectangle_2_bg {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bg {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 864px;
	height: 222px;
	left: 0px;
	top: 0px;
}
#Case_Study_UXUI_Design_of_a__H_bh {
	left: 49px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 750px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#Group_11 {
	position: absolute;
	width: 1515px;
	height: 322px;
	left: 203px;
	top: 5021px;
	overflow: visible;
}
#Rectangle_11 {
	fill: rgba(255,255,255,1);
}
.Rectangle_11 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 340px;
	left: 0px;
	top: 0px;
}
#With_enough_information_collec {
	left: 30px;
	top: 126px;
	position: absolute;
	overflow: visible;
	width: 1455px;
	height: 123px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Personas_ {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.451));
	left: 624px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_10 {
	position: absolute;
	width: 1515px;
	height: 122px;
	left: 203px;
	top: 4136px;
	overflow: visible;
}
#Rectangle_9 {
	fill: rgba(255,255,255,1);
}
.Rectangle_9 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 140px;
	left: 0px;
	top: 0px;
}
#This_section_showed_us_that_th {
	left: 48px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_14 {
	position: absolute;
	width: 1515px;
	height: 240px;
	left: 203px;
	top: 5906px;
	overflow: visible;
}
#Group_13 {
	position: absolute;
	width: 1515px;
	height: 240px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_11_br {
	fill: rgba(255,255,255,1);
}
.Rectangle_11_br {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 258px;
	left: 0px;
	top: 0px;
}
#The_created_personas_now_help_ {
	left: 30px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 1455px;
	height: 106px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#User_Journey {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 578.5px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_12 {
	position: absolute;
	width: 1515px;
	height: 122px;
	left: 203px;
	top: 4618px;
	overflow: visible;
}
#Rectangle_9_bv {
	fill: rgba(255,255,255,1);
}
.Rectangle_9_bv {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 140px;
	left: 0px;
	top: 0px;
}
#Results_show_that_the_majority {
	left: 48px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 1419px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_15 {
	position: absolute;
	width: 1515px;
	height: 240px;
	left: 203px;
	top: 6814px;
	overflow: visible;
}
#Group_13_by {
	position: absolute;
	width: 1515px;
	height: 240px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_11_bz {
	fill: rgba(255,255,255,1);
}
.Rectangle_11_bz {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 258px;
	left: 0px;
	top: 0px;
}
#Storyboard_showcases_our_users {
	left: 30px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 1455px;
	height: 106px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Storyboard {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 578.5px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 318px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_16 {
	position: absolute;
	width: 1515px;
	height: 265px;
	left: 203px;
	top: 8147px;
	overflow: visible;
}
#Group_13_b {
	position: absolute;
	width: 1515px;
	height: 265px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_11_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_11_b {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 283px;
	left: 0px;
	top: 0px;
}
#The_main_functionalities_of_th {
	left: 30px;
	top: 108px;
	position: absolute;
	overflow: hidden;
	width: 1455px;
	height: 106px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Application_Concept {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 489.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 575px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Group_17 {
	position: absolute;
	width: 1515px;
	height: 199px;
	left: 203px;
	top: 10491px;
	overflow: visible;
}
#Group_13_ca {
	position: absolute;
	width: 1515px;
	height: 179px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_11_ca {
	fill: rgba(255,255,255,1);
}
.Rectangle_11_ca {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	overflow: visible;
	width: 1533px;
	height: 197px;
	left: 0px;
	top: 0px;
}
#Now_that_we_knew_how_our_app_w {
	left: 30px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 1455px;
	height: 106px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Sketches {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	left: 578.5px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#UJ-miniproject {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 1704px;
	height: 429px;
	left: 108px;
	top: 6195px;
	overflow: visible;
}
#Storyboard-miniproject {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 1285px;
	height: 777px;
	left: 318px;
	top: 7090px;
	overflow: visible;
}
#UserFLow_miniProject {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 974px;
	height: 1782px;
	left: 502px;
	top: 8460px;
	overflow: visible;
}
#Image_4 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 512px;
	height: 384px;
	left: 363px;
	top: 10714px;
	overflow: visible;
}
#Image_5 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.502));
	position: absolute;
	width: 512px;
	height: 384px;
	left: 1045px;
	top: 10714px;
	overflow: visible;
}